.axis {
  position: absolute;
  width: 20%;
  height: 23px;
  text-align: center;
  background: linear-gradient(white 11px, black 12px, white 11px);

  ::after {
    display: block;
    background: black;
  }

  .axis-label {
    display: inline-block;
    background: white;
    padding: 0 5px;
  }
}

.y-axis {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  left: -20px;
  bottom: 10%;
}

.x-axis {
  bottom: -20px;
  left: 10%;
}