.hover-info {    
  padding: 5px !important;
  font-size: 15px !important;
  pointer-events: auto !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
 }

 .highlighted {
   border: 2px solid rgb(247, 243, 7);
 }