// Chart CSS variables
:root {
  --chart-spacing: 30px;
  --item-diameter: 50px;
}

// Animations
@keyframes growOnEnter {
  from { width: calc(var(--item-diameter) / 2); }
  to { width: var(--item-diameter); }
}

.item-chart {
  width: calc(100% - 300px - var(--chart-spacing));
  position: relative;
  left: var(--chart-spacing);
  bottom: var(--chart-spacing);
}

.item {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: left 0.25s ease-in-out, bottom 0.25s ease-in-out;

  z-index: 1;
  
  &:hover {
    z-index: 2;
  }
  
}

.game-item {
  animation: growOnEnter 0.1s;
  animation-fill-mode: forwards;
}

.cluster-item {
  height: var(--item-diameter);
  z-index: 0;
  background-color: #0009;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}