// Chart CSS variables
:root {
  --chart-spacing: 30px;
  --item-diameter: 50px;
}


.item-chart {
  width: calc(100% - 250px - var(--chart-spacing));
  position: relative;
  left: var(--chart-spacing);
  bottom: var(--chart-spacing);
}

.item {
  display: block;
  position: absolute;
  height: var(--item-diameter);
  width: var(--item-diameter);
  border: 2px solid black;
  border-radius: 50%;
  background-repeat:no-repeat;
  background-position: center center;
}