// Chart CSS variables
:root {
  --chart-spacing: 30px;
  --item-diameter: 50px;
}


.item-chart {
  width: calc(100% - 300px - var(--chart-spacing));
  position: relative;
  left: var(--chart-spacing);
  bottom: var(--chart-spacing);
}

.item {
  display: block;
  position: absolute;
  height: var(--item-diameter);
  width: var(--item-diameter);
  border: 1px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.25s ease-in-out;
}

.cluster-item {
  z-index: -1;
  background-color: #fff9;
  display: flex;
  align-items: center;
  justify-content: center;
}