.top-bar {
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;

  > * {
    padding: 0 1em;
  }

  .navbar-brand {
    width: 250px;
  }
    
  span {   

    .top-bar-user {
      span {
        white-space: nowrap;
        width: auto;
        margin: auto;
        font-size: smaller;
      }
    }

    .login-dropdown-container {
      width: 30ch;

      .login-dropdown-form {
        > * {
          width: 96%;
          margin: 2%;
        }
      }
    }
  }
}

#user-name {
  font-weight: bold;
  padding-right: 10px;
  padding-left: 4px;
}